.banner {
    position: relative;
    height: 1024px;
    color: white;
    object-fit: contain;
}

.banner > img {

}

.banner_contents {
    max-width: 500px;
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner_contents_box {
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(37,37,37, 0.20);
}

.banner_title {
    height: inherit;
    width: inherit;
    font-size: 3rem;
    max-width: inherit;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description {
    position: relative;
    left: 2%;
    width: inherit;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: inherit;
    height: inherit;
}

.banner--fadeBottom {
    position: relative;
    bottom: -542px;
    height: 9.6rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37, 0.61),
        #111
    );
}

.banner_button {
    position: relative;
    left: 5%;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51 , 51, 0.5);
    padding-bottom: 0.5rem;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.banner_button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}